*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

#board{
    display: grid;
    grid-template-columns: repeat(10,30px);
    grid-template-rows: repeat(10,30px);
    gap: 2px;
    background-color: #ccc;
}

.cell{
    background-color: #fff;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}